body {
	background: #ecf3f3;
  }
  
  .particle {
	position: absolute;
	border-radius: 50%;
  }
  
  @-webkit-keyframes particle-animation-1 {
	100% {
	  transform: translate3d(68vw, 46vh, 70px);
	}
  }
  
  @keyframes particle-animation-1 {
	100% {
	  transform: translate3d(68vw, 46vh, 70px);
	}
  }
  .particle:nth-child(1) {
	-webkit-animation: particle-animation-1 60s infinite;
			animation: particle-animation-1 60s infinite;
	opacity: 0.8;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -0.2s;
			animation-delay: -0.2s;
	transform: translate3d(50vw, 72vh, 41px);
	background: #a026d9;
  }
  
  @-webkit-keyframes particle-animation-2 {
	100% {
	  transform: translate3d(15vw, 54vh, 45px);
	}
  }
  
  @keyframes particle-animation-2 {
	100% {
	  transform: translate3d(15vw, 54vh, 45px);
	}
  }
  .particle:nth-child(2) {
	-webkit-animation: particle-animation-2 60s infinite;
			animation: particle-animation-2 60s infinite;
	opacity: 0.52;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -0.4s;
			animation-delay: -0.4s;
	transform: translate3d(72vw, 39vh, 96px);
	background: #97d926;
  }
  
  @-webkit-keyframes particle-animation-3 {
	100% {
	  transform: translate3d(31vw, 87vh, 80px);
	}
  }
  
  @keyframes particle-animation-3 {
	100% {
	  transform: translate3d(31vw, 87vh, 80px);
	}
  }
  .particle:nth-child(3) {
	-webkit-animation: particle-animation-3 60s infinite;
			animation: particle-animation-3 60s infinite;
	opacity: 0.13;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -0.6s;
			animation-delay: -0.6s;
	transform: translate3d(69vw, 67vh, 34px);
	background: #9126d9;
  }
  
  @-webkit-keyframes particle-animation-4 {
	100% {
	  transform: translate3d(89vw, 77vh, 100px);
	}
  }
  
  @keyframes particle-animation-4 {
	100% {
	  transform: translate3d(89vw, 77vh, 100px);
	}
  }
  .particle:nth-child(4) {
	-webkit-animation: particle-animation-4 60s infinite;
			animation: particle-animation-4 60s infinite;
	opacity: 0.53;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -0.8s;
			animation-delay: -0.8s;
	transform: translate3d(54vw, 66vh, 42px);
	background: #d626d9;
  }
  
  @-webkit-keyframes particle-animation-5 {
	100% {
	  transform: translate3d(17vw, 1vh, 92px);
	}
  }
  
  @keyframes particle-animation-5 {
	100% {
	  transform: translate3d(17vw, 1vh, 92px);
	}
  }
  .particle:nth-child(5) {
	-webkit-animation: particle-animation-5 60s infinite;
			animation: particle-animation-5 60s infinite;
	opacity: 0.4;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -1s;
			animation-delay: -1s;
	transform: translate3d(2vw, 51vh, 17px);
	background: #26d9be;
  }
  
  @-webkit-keyframes particle-animation-6 {
	100% {
	  transform: translate3d(2vw, 14vh, 34px);
	}
  }
  
  @keyframes particle-animation-6 {
	100% {
	  transform: translate3d(2vw, 14vh, 34px);
	}
  }
  .particle:nth-child(6) {
	-webkit-animation: particle-animation-6 60s infinite;
			animation: particle-animation-6 60s infinite;
	opacity: 0.59;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -1.2s;
			animation-delay: -1.2s;
	transform: translate3d(37vw, 3vh, 85px);
	background: #d9267d;
  }
  
  @-webkit-keyframes particle-animation-7 {
	100% {
	  transform: translate3d(49vw, 90vh, 54px);
	}
  }
  
  @keyframes particle-animation-7 {
	100% {
	  transform: translate3d(49vw, 90vh, 54px);
	}
  }
  .particle:nth-child(7) {
	-webkit-animation: particle-animation-7 60s infinite;
			animation: particle-animation-7 60s infinite;
	opacity: 0.48;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -1.4s;
			animation-delay: -1.4s;
	transform: translate3d(76vw, 84vh, 68px);
	background: #7dd926;
  }
  
  @-webkit-keyframes particle-animation-8 {
	100% {
	  transform: translate3d(46vw, 90vh, 65px);
	}
  }
  
  @keyframes particle-animation-8 {
	100% {
	  transform: translate3d(46vw, 90vh, 65px);
	}
  }
  .particle:nth-child(8) {
	-webkit-animation: particle-animation-8 60s infinite;
			animation: particle-animation-8 60s infinite;
	opacity: 0.3;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -1.6s;
			animation-delay: -1.6s;
	transform: translate3d(72vw, 16vh, 70px);
	background: #5326d9;
  }
  
  @-webkit-keyframes particle-animation-9 {
	100% {
	  transform: translate3d(5vw, 15vh, 65px);
	}
  }
  
  @keyframes particle-animation-9 {
	100% {
	  transform: translate3d(5vw, 15vh, 65px);
	}
  }
  .particle:nth-child(9) {
	-webkit-animation: particle-animation-9 60s infinite;
			animation: particle-animation-9 60s infinite;
	opacity: 0.18;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -1.8s;
			animation-delay: -1.8s;
	transform: translate3d(12vw, 55vh, 68px);
	background: #2cd926;
  }
  
  @-webkit-keyframes particle-animation-10 {
	100% {
	  transform: translate3d(59vw, 64vh, 44px);
	}
  }
  
  @keyframes particle-animation-10 {
	100% {
	  transform: translate3d(59vw, 64vh, 44px);
	}
  }
  .particle:nth-child(10) {
	-webkit-animation: particle-animation-10 60s infinite;
			animation: particle-animation-10 60s infinite;
	opacity: 0.76;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -2s;
			animation-delay: -2s;
	transform: translate3d(79vw, 40vh, 96px);
	background: #a026d9;
  }
  
  @-webkit-keyframes particle-animation-11 {
	100% {
	  transform: translate3d(65vw, 21vh, 63px);
	}
  }
  
  @keyframes particle-animation-11 {
	100% {
	  transform: translate3d(65vw, 21vh, 63px);
	}
  }
  .particle:nth-child(11) {
	-webkit-animation: particle-animation-11 60s infinite;
			animation: particle-animation-11 60s infinite;
	opacity: 0.54;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -2.2s;
			animation-delay: -2.2s;
	transform: translate3d(50vw, 9vh, 11px);
	background: #26d9bb;
  }
  
  @-webkit-keyframes particle-animation-12 {
	100% {
	  transform: translate3d(26vw, 39vh, 52px);
	}
  }
  
  @keyframes particle-animation-12 {
	100% {
	  transform: translate3d(26vw, 39vh, 52px);
	}
  }
  .particle:nth-child(12) {
	-webkit-animation: particle-animation-12 60s infinite;
			animation: particle-animation-12 60s infinite;
	opacity: 0.67;
	height: 7px;
	width: 7px;
	-webkit-animation-delay: -2.4s;
			animation-delay: -2.4s;
	transform: translate3d(22vw, 43vh, 92px);
	background: #29d926;
  }
  
  @-webkit-keyframes particle-animation-13 {
	100% {
	  transform: translate3d(60vw, 42vh, 30px);
	}
  }
  
  @keyframes particle-animation-13 {
	100% {
	  transform: translate3d(60vw, 42vh, 30px);
	}
  }
  .particle:nth-child(13) {
	-webkit-animation: particle-animation-13 60s infinite;
			animation: particle-animation-13 60s infinite;
	opacity: 0.19;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -2.6s;
			animation-delay: -2.6s;
	transform: translate3d(54vw, 36vh, 20px);
	background: #d94d26;
  }
  
  @-webkit-keyframes particle-animation-14 {
	100% {
	  transform: translate3d(83vw, 27vh, 2px);
	}
  }
  
  @keyframes particle-animation-14 {
	100% {
	  transform: translate3d(83vw, 27vh, 2px);
	}
  }
  .particle:nth-child(14) {
	-webkit-animation: particle-animation-14 60s infinite;
			animation: particle-animation-14 60s infinite;
	opacity: 0.82;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -2.8s;
			animation-delay: -2.8s;
	transform: translate3d(73vw, 42vh, 59px);
	background: #3b26d9;
  }
  
  @-webkit-keyframes particle-animation-15 {
	100% {
	  transform: translate3d(33vw, 8vh, 92px);
	}
  }
  
  @keyframes particle-animation-15 {
	100% {
	  transform: translate3d(33vw, 8vh, 92px);
	}
  }
  .particle:nth-child(15) {
	-webkit-animation: particle-animation-15 60s infinite;
			animation: particle-animation-15 60s infinite;
	opacity: 0.74;
	height: 7px;
	width: 7px;
	-webkit-animation-delay: -3s;
			animation-delay: -3s;
	transform: translate3d(28vw, 29vh, 17px);
	background: #26d935;
  }
  
  @-webkit-keyframes particle-animation-16 {
	100% {
	  transform: translate3d(63vw, 88vh, 14px);
	}
  }
  
  @keyframes particle-animation-16 {
	100% {
	  transform: translate3d(63vw, 88vh, 14px);
	}
  }
  .particle:nth-child(16) {
	-webkit-animation: particle-animation-16 60s infinite;
			animation: particle-animation-16 60s infinite;
	opacity: 0.64;
	height: 7px;
	width: 7px;
	-webkit-animation-delay: -3.2s;
			animation-delay: -3.2s;
	transform: translate3d(26vw, 62vh, 67px);
	background: #d9c726;
  }
  
  @-webkit-keyframes particle-animation-17 {
	100% {
	  transform: translate3d(67vw, 71vh, 80px);
	}
  }
  
  @keyframes particle-animation-17 {
	100% {
	  transform: translate3d(67vw, 71vh, 80px);
	}
  }
  .particle:nth-child(17) {
	-webkit-animation: particle-animation-17 60s infinite;
			animation: particle-animation-17 60s infinite;
	opacity: 0.89;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -3.4s;
			animation-delay: -3.4s;
	transform: translate3d(78vw, 19vh, 30px);
	background: #d9264d;
  }
  
  @-webkit-keyframes particle-animation-18 {
	100% {
	  transform: translate3d(62vw, 52vh, 91px);
	}
  }
  
  @keyframes particle-animation-18 {
	100% {
	  transform: translate3d(62vw, 52vh, 91px);
	}
  }
  .particle:nth-child(18) {
	-webkit-animation: particle-animation-18 60s infinite;
			animation: particle-animation-18 60s infinite;
	opacity: 0.68;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -3.6s;
			animation-delay: -3.6s;
	transform: translate3d(69vw, 71vh, 59px);
	background: #26d9a9;
  }
  
  @-webkit-keyframes particle-animation-19 {
	100% {
	  transform: translate3d(8vw, 28vh, 25px);
	}
  }
  
  @keyframes particle-animation-19 {
	100% {
	  transform: translate3d(8vw, 28vh, 25px);
	}
  }
  .particle:nth-child(19) {
	-webkit-animation: particle-animation-19 60s infinite;
			animation: particle-animation-19 60s infinite;
	opacity: 0.02;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -3.8s;
			animation-delay: -3.8s;
	transform: translate3d(68vw, 25vh, 53px);
	background: #8026d9;
  }
  
  @-webkit-keyframes particle-animation-20 {
	100% {
	  transform: translate3d(71vw, 25vh, 17px);
	}
  }
  
  @keyframes particle-animation-20 {
	100% {
	  transform: translate3d(71vw, 25vh, 17px);
	}
  }
  .particle:nth-child(20) {
	-webkit-animation: particle-animation-20 60s infinite;
			animation: particle-animation-20 60s infinite;
	opacity: 0.49;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -4s;
			animation-delay: -4s;
	transform: translate3d(14vw, 20vh, 7px);
	background: #26d96e;
  }
  
  @-webkit-keyframes particle-animation-21 {
	100% {
	  transform: translate3d(27vw, 87vh, 68px);
	}
  }
  
  @keyframes particle-animation-21 {
	100% {
	  transform: translate3d(27vw, 87vh, 68px);
	}
  }
  .particle:nth-child(21) {
	-webkit-animation: particle-animation-21 60s infinite;
			animation: particle-animation-21 60s infinite;
	opacity: 0.05;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -4.2s;
			animation-delay: -4.2s;
	transform: translate3d(69vw, 56vh, 97px);
	background: #d9264a;
  }
  
  @-webkit-keyframes particle-animation-22 {
	100% {
	  transform: translate3d(63vw, 81vh, 73px);
	}
  }
  
  @keyframes particle-animation-22 {
	100% {
	  transform: translate3d(63vw, 81vh, 73px);
	}
  }
  .particle:nth-child(22) {
	-webkit-animation: particle-animation-22 60s infinite;
			animation: particle-animation-22 60s infinite;
	opacity: 0.15;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -4.4s;
			animation-delay: -4.4s;
	transform: translate3d(35vw, 56vh, 85px);
	background: #26d965;
  }
  
  @-webkit-keyframes particle-animation-23 {
	100% {
	  transform: translate3d(4vw, 15vh, 41px);
	}
  }
  
  @keyframes particle-animation-23 {
	100% {
	  transform: translate3d(4vw, 15vh, 41px);
	}
  }
  .particle:nth-child(23) {
	-webkit-animation: particle-animation-23 60s infinite;
			animation: particle-animation-23 60s infinite;
	opacity: 0.96;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -4.6s;
			animation-delay: -4.6s;
	transform: translate3d(33vw, 6vh, 16px);
	background: #26d932;
  }
  
  @-webkit-keyframes particle-animation-24 {
	100% {
	  transform: translate3d(89vw, 49vh, 14px);
	}
  }
  
  @keyframes particle-animation-24 {
	100% {
	  transform: translate3d(89vw, 49vh, 14px);
	}
  }
  .particle:nth-child(24) {
	-webkit-animation: particle-animation-24 60s infinite;
			animation: particle-animation-24 60s infinite;
	opacity: 0.37;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -4.8s;
			animation-delay: -4.8s;
	transform: translate3d(70vw, 50vh, 79px);
	background: #265fd9;
  }
  
  @-webkit-keyframes particle-animation-25 {
	100% {
	  transform: translate3d(29vw, 3vh, 54px);
	}
  }
  
  @keyframes particle-animation-25 {
	100% {
	  transform: translate3d(29vw, 3vh, 54px);
	}
  }
  .particle:nth-child(25) {
	-webkit-animation: particle-animation-25 60s infinite;
			animation: particle-animation-25 60s infinite;
	opacity: 0.34;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -5s;
			animation-delay: -5s;
	transform: translate3d(49vw, 36vh, 10px);
	background: #d9268e;
  }
  
  @-webkit-keyframes particle-animation-26 {
	100% {
	  transform: translate3d(60vw, 35vh, 50px);
	}
  }
  
  @keyframes particle-animation-26 {
	100% {
	  transform: translate3d(60vw, 35vh, 50px);
	}
  }
  .particle:nth-child(26) {
	-webkit-animation: particle-animation-26 60s infinite;
			animation: particle-animation-26 60s infinite;
	opacity: 0.5;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -5.2s;
			animation-delay: -5.2s;
	transform: translate3d(49vw, 3vh, 30px);
	background: #26d93b;
  }
  
  @-webkit-keyframes particle-animation-27 {
	100% {
	  transform: translate3d(79vw, 6vh, 77px);
	}
  }
  
  @keyframes particle-animation-27 {
	100% {
	  transform: translate3d(79vw, 6vh, 77px);
	}
  }
  .particle:nth-child(27) {
	-webkit-animation: particle-animation-27 60s infinite;
			animation: particle-animation-27 60s infinite;
	opacity: 0.01;
	height: 7px;
	width: 7px;
	-webkit-animation-delay: -5.4s;
			animation-delay: -5.4s;
	transform: translate3d(68vw, 53vh, 93px);
	background: #bed926;
  }
  
  @-webkit-keyframes particle-animation-28 {
	100% {
	  transform: translate3d(85vw, 65vh, 83px);
	}
  }
  
  @keyframes particle-animation-28 {
	100% {
	  transform: translate3d(85vw, 65vh, 83px);
	}
  }
  .particle:nth-child(28) {
	-webkit-animation: particle-animation-28 60s infinite;
			animation: particle-animation-28 60s infinite;
	opacity: 0.14;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -5.6s;
			animation-delay: -5.6s;
	transform: translate3d(7vw, 69vh, 55px);
	background: #d93e26;
  }
  
  @-webkit-keyframes particle-animation-29 {
	100% {
	  transform: translate3d(58vw, 4vh, 70px);
	}
  }
  
  @keyframes particle-animation-29 {
	100% {
	  transform: translate3d(58vw, 4vh, 70px);
	}
  }
  .particle:nth-child(29) {
	-webkit-animation: particle-animation-29 60s infinite;
			animation: particle-animation-29 60s infinite;
	opacity: 0.52;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -5.8s;
			animation-delay: -5.8s;
	transform: translate3d(63vw, 66vh, 85px);
	background: #9ad926;
  }
  
  @-webkit-keyframes particle-animation-30 {
	100% {
	  transform: translate3d(39vw, 54vh, 3px);
	}
  }
  
  @keyframes particle-animation-30 {
	100% {
	  transform: translate3d(39vw, 54vh, 3px);
	}
  }
  .particle:nth-child(30) {
	-webkit-animation: particle-animation-30 60s infinite;
			animation: particle-animation-30 60s infinite;
	opacity: 0.2;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -6s;
			animation-delay: -6s;
	transform: translate3d(44vw, 20vh, 43px);
	background: #26d9b5;
  }